@{
    ViewData["Title"] = "Graph";
}


<div id="cy"></div>

<script src="~/js/cytoscape.js"></script>
<script>

    //GET the elements to setup cy
    //$.get("/graph", function (data) {
    //    var cy = cytoscape({
    //        container: document.getElementById('cy'),
    //        elements: data
    //    });

    // Run the cy
    //    cy.layout({
    //        name: 'circle'
    //    }).run();
    //});


</script>