@{
	ViewData["Title"] = "Graph";
}



<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="~/js/cytoscape.js"></script>

<div id="cy"></div>


<style>
	#cy {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0px;
		left: 0px;
	}
</style>

<script type="text/javascript">

	$.ajax({
		url: "/graph/movies",
		success: function (result) {
			var data = result['elements'];
			var cy = cytoscape({
				container: document.getElementById('cy'),
                elements: data,
                style: [{
                    selector: 'node',
                    style: {
                        'label': 'data(name)',
                        'background-color': '#aaa'
                    }
                },
                {
                    selector: 'node.actor',
                    style: {
                        'label': 'data(name)',
                        'background-color': '#ccc',
                    }
                }
                ]
            });

            //cy.on('click', 'node', function (evt) {
            //    var node = evt.target;
            //    console.log(node.name());
            //});

            cy.layout({
                name: 'random'
            }).run();
		}
	});

</script>